#coco {
    top: 10%;
    left : 5%;
    width: 1%;
    position: relative;
    display: block;
    height: auto;
}

.coco-sidebar button{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E02B20;
    margin-bottom: 1em;
    padding: 1em;
}

.ibcoco-main {
    min-height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: auto;
}

.ibcoco-img {
    height: auto;
    width: auto;
    position: relative;
    justify-content: center;
}
