.bog-sultan {
    display: flex;
    position: relative;
    background-color: gold;
    min-width: 100%;
    min-height: 85vh;
    animation-name: sultan;
    animation-duration: 4s;
}

@keyframes sultan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-sultan {
    
    padding: 1em;
    margin: auto;
}

.bog-chairmain {
    display: flex;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

.img-cm {
    padding: 1em;
    margin: auto;
}

.bog-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: auto;
    padding: 1em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bog-grid > div {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bog-arrow {
    position: absolute;
    bottom: 2%;
    left: 50%;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 